# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.vscode
.idea
.DS_Store
*.pem
.github

# dev
/tests
/examples
/src
.prettierrc
.eslintrc.js
rollup.config.js
tsconfig.eslint.json
tsconfig.json
jest.config.js
.license-sh.json